<footer>
	<div class="container">
        <div class="footerTop">
            <div class="siteMap">
                <div class="siteMapPart">
                    <h2>Мапа на сајтот</h2>
                    <ul>
                        <li>
                            <a href="/smart-parking">Паметен паркинг</a>
                        </li>
                        <li>
                            <a href="/smart-parks">Паметен парк</a>
                        </li>
                        <li>
                            <a href="/contact">Контакт</a>
                        </li>
                        <li>
                            <a href="/about">За нас</a>
                        </li>
                    </ul>
                </div>
                <div class="contactPart" style="margin-left: 35px;">
                    <h2>Контакт</h2>
                    <ul>
                        <li style="margin-bottom: 5px;">
                            <i class="fa-solid fa-envelope" style="margin-right: 10px; vertical-align: middle;"></i>
                            <a href="mailto:contact@smartbitola.mk">contact@smartbitola.mk</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <hr>
        <div class="footerBottom">
            <p>© 2023 Bitola - Smart Environment</p>
            <div class="socialIcons">
                    <a href="https://www.facebook.com/smartbitola.mk" target="_blank"><i class="fa-brands fa-facebook"></i></a>
                    <a href="https://www.instagram.com/smartbitola.mk/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
                    <a href="https://www.linkedin.com/company/smartbitolamk/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
            </div>
        </div>
	</div>	
</footer>