<%- partial('../partials/header.ejs') %>
<main>
	<div class="sideServices">
		<div class="container">
			<div class="sideServicesBoxes">
				<div class="sideService">
					<i class="fa-solid fa-square-parking"></i>
					<div class="sideServiceText">
						<small>Број на паркинг</small>
						<b>{{number_of_parkings}}</b>
					</div>
				</div>
				<div class="sideService">
					<i class="fa-solid fa-tree"></i>
					<div class="sideServiceText">
						<small>Број на паркови</small>
						<b>{{number_of_parks}}</b>
					</div>
				</div>
				<div class="sideService">
					<i class="fa-solid fa-map"></i>
					<div class="sideServiceText">
						<a href="https://www.google.com/maps/d/u/0/viewer?mid=1yVLc3FT5LHleGrbsECidoNfVl08&hl=en&ll=41.035422584529165%2C21.33654910788217&z=14" target="_blank"><small>Мапа на Битола</small></a>
					</div>
				</div>
			</div>
		</div>
	</div>	
	<div class="aboutSection">
		<div class="container">
			<div class="header">
				<h3>За нас</h3>
				<hr>
				<p>Битола, нашиот прекрасен град, е на пат да се претвори во паметна средина благодарение на најновите иновации и технологии. Две од најзначајните аспекти на оваа трансформација се паметните паркинзи и паметните паркови, кои ги подобруваат условите за граѓаните и ги штедат природните ресурси.
				<br><br>
				Паметните паркинзи се развиваат со помош на Интернет на работи (IoT) и сензори за детекција на слободни паркинг места. Овие сензори се инсталирани на паркинг површините и пренесуваат информации за слободните и зафатените паркинг места до централниот систем. Граѓаните можат да пристапат до овие информации преку мобилни апликации или дигитални табла во близина на паркингот. Ова овозможува брзо и лесно пронаоѓање на слободно паркинг место, што спестува време и гориво.
				<br><br>
				Паметните паркови, на друга страна, ги обезбедуваат граѓаните со модерни и интерактивни искуства во природните зелени простории. Преку користење на IoT технологија, сензори и комуникациски системи, паметните паркови го нудат следното: автоматски контролирана расвета, која се прилагодува на присуството на луѓе; информативни табли со податоци за парковните активности и локалните атракции; и споделување на информации и содржини преку мобилни апликации, што ги обезбедува граѓаните со едноставен пристап до рекреативни и образовни содржини во парковите.
				<br><br>
				Со воведувањето на паметните паркинзи и паметните паркови, Битола станува модерен град кој се грижи за своите граѓани и ја заштитува природата. 
				</p>
			</div>
		</div>
	</div>
</main>
<%- partial('../partials/footer.ejs') %>