<div class="sidebar">
    <ul>
        <li><a href="/admin/dashboard">Контролна Табла</a></li>
        <li><a href="/admin/users">Корисници</a></li>
        <li><a href="/admin/parkings">Паметни паркинзи</a></li>
        <li><a href="/admin/parks">Паметни паркови</a></li>
        <li><a href="/logout">Одјава</a></li>
    </ul>
</div>